/* Title */
.title {
    text-align: center;
    color: yellow;
    text-decoration: underline;
    font-weight: 200;
}

/* Search area */
.search-area {
    text-align: center;
    border: 5px;
    border-color: black;
    display: flex;
    justify-content: center;
}

.input {
    max-width: 50%;
}

.input-center {
    display: flex;
    justify-content: space-evenly;
}

.input-split {
    display: flex;
    justify-content: center;
}

/* General body styles */
body {
    background-color: lightblue;
}

.center {
    text-align: center;
}