/* Title */
.title {
    text-align: center;
    color: yellow;
    text-decoration: underline;
    font-weight: 200;
}

/* Search area */
.search-area {
    text-align: center;
    border: 5px;
    border-color: black;
    justify-content: center;
}

.input {
    max-width: 30%;
}

/* General body styles */
body {
    background-color: lightblue;
}