/* Title */
.title {
    text-align: center;
    color: yellow;
    text-decoration: underline;
    font-weight: 200;
}

/* Search area */
.search-area {
    text-align: center;
    border: 5px;
    border-color: black;
    display: flex;
    justify-content: center;
}

.input {
    max-width: 50%;
}

.main-search-area {
    background-color: white;
}
/* Results section */
/*#results-section {
    
} */

/* General body styles */
body {
    background-color: lightblue;
}

.center {
    text-align: center;
}